@charset "UTF-8";
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.c-logo {
  font-size: 2rem;
  width: 80px;
}

@media screen and (min-width: 520px) {
  .c-logo {
    width: 100px;
  }
}

.c-logo img.is-white:nth-child(1) {
  display: none;
}

.c-logo img:nth-child(2) {
  display: none;
}

.c-logo img:nth-child(2).is-white {
  display: block;
}

.c-subtitle {
  font-weight: bold;
  font-size: 24px;
}

@media screen and (min-width: 520px) {
  .c-subtitle {
    font-size: 32px;
  }
}

.c-subtitle--vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.c-subtitle--skills {
  padding: 80px 0 20px;
  color: #05A0A6;
  text-align: center;
}

@media screen and (min-width: 520px) {
  .c-subtitle--skills {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    position: absolute;
    bottom: 40px;
    right: 20px;
  }
}

.c-subtitle--works {
  margin: 80px 0 40px;
}

@media screen and (min-width: 520px) {
  .c-subtitle--works {
    margin: 100px 0 40px;
  }
}

.c-introduce {
  font-size: 14px;
  line-height: 1.5;
  padding: 250px 20px 50px;
}

@media screen and (min-width: 520px) {
  .c-introduce {
    padding: 240px 0 0 60px;
    width: 50%;
  }
}

.c-icon {
  position: absolute;
  top: 15%;
  left: calc(50% - 50px);
  width: 100px;
  height: auto;
  z-index: 1;
}

@media screen and (min-width: 520px) {
  .c-icon {
    max-width: 60px;
    height: 50px;
    left: calc(50% - 30px);
  }
}

.c-diagram {
  display: none;
  height: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 520px) {
  .c-diagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.c-diagram__base {
  width: 170px;
  height: 85px;
  border: 5px solid #06A1A6;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
}

.c-diagram__base p {
  font-size: 32px;
  white-space: nowrap;
  padding-bottom: 10px;
}

.c-diagram__base:hover {
  color: white;
  background-color: #06A1A6;
  border-radius: 0;
}

.c-diagram__upper {
  margin-bottom: 20px;
  border-radius: 100px 100px 0 0;
}

.c-diagram__upper:hover {
  border-radius: 5px 5px 0 0;
  margin-bottom: 60px;
}

.c-diagram__upper:hover + .c-diagram__middle--right {
  left: 25px;
}

.c-diagram__under {
  padding-bottom: 20px;
  border-radius: 0 0 100px 100px;
}

.c-diagram__under:hover {
  border-radius: 0 0 5px 5px;
  margin-top: 40px;
}

.c-diagram__under:hover + .c-diagram__middle--left {
  left: 40px;
}

.c-diagram__middle--right {
  color: #06A1A6;
  font-size: 32px;
  position: absolute;
  top: 120px;
  left: 200px;
  -webkit-transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
}

.c-diagram__middle--left {
  color: #06A1A6;
  font-size: 32px;
  position: absolute;
  top: 120px;
  left: -200px;
  -webkit-transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
}

.c-bar {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #eee;
  color: #666;
  font-size: 8pt;
  margin: 0 0 12px 0;
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 520px) {
  .c-bar {
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-bar__fill {
  color: white;
  width: 100%;
  background-color: #06A1A6;
  padding: 0;
  text-align: center;
  line-height: 2;
}

.c-bar__fill__tag {
  color: white;
  width: 70px;
  background-color: #11C1C9;
  line-height: 2.5;
  z-index: 1;
}

.c-bar span {
  color: #7e7e7e;
  line-height: 2.5;
  position: absolute;
  right: 25px;
}

@media screen and (min-width: 520px) {
  .c-bar span {
    position: inherit;
    padding-right: 10px;
  }
}

.js-animation.act {
  -webkit-animation: expand 1.5s ease;
          animation: expand 1.5s ease;
}

@-webkit-keyframes expand {
  from {
    width: 0%;
  }
  to　 {
    width: auto;
  }
}

@keyframes expand {
  from {
    width: 0%;
  }
  to　 {
    width: auto;
  }
}

.c-hexagon {
  width: 100px;
  height: 176px;
  background: #11C2C8;
  position: relative;
  left: calc(50% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 520px) {
  .c-hexagon {
    width: 70px;
    height: 121px;
  }
}

.c-hexagon::before,
.c-hexagon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #11C2C8;
  z-index: 0;
}

.c-hexagon::before {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.c-hexagon::after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.c-triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-triangle__right {
  display: table;
  width: 50%;
  height: 3px;
  background-color: #696969;
  -webkit-transform: skewY(-20deg);
          transform: skewY(-20deg);
  margin-top: 10vw;
}

@media screen and (min-width: 520px) {
  .c-triangle__right {
    margin-top: 8vw;
    -webkit-transform: skewY(-15deg);
            transform: skewY(-15deg);
  }
}

.c-triangle__left {
  display: table;
  width: 50%;
  height: 3px;
  background-color: #696969;
  -webkit-transform: skewY(20deg);
          transform: skewY(20deg);
  margin-top: 10vw;
}

@media screen and (min-width: 520px) {
  .c-triangle__left {
    margin-top: 8vw;
    -webkit-transform: skewY(15deg);
            transform: skewY(15deg);
  }
}

.p-header {
  padding-top: 20px;
  height: 80px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
}

@media screen and (min-width: 520px) {
  .p-header {
    height: 100px;
  }
}

.p-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 40px);
}

body {
  overflow-x: hidden;
}

.p-gnav {
  height: 40px;
  position: relative;
}

.p-gnav > .list {
  color: white;
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
  width: 100vw;
  height: 100vh;
  padding: 70px 50px;
  position: fixed;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  overflow-y: auto;
  left: 100%;
}

@media screen and (min-width: 520px) {
  .p-gnav > .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    width: inherit;
    height: inherit;
    padding: inherit;
    position: static;
    background: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transition: inherit;
    transition: inherit;
  }
}

.p-gnav > .list > li {
  margin-bottom: 50px;
  font-size: 1.4rem;
}

.p-gnav > .list > li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 520px) {
  .p-gnav > .list > li {
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 1.2rem;
  }
}

.p-gnav.is-open > .list {
  left: 0;
}

.p-gnav.is-open .c-arrow--top-l::before {
  display: none;
}

@media screen and (min-width: 520px) {
  .js-gnav.is-white > .list {
    color: white;
  }
}

@media screen and (min-width: 520px) {
  .js-gnav.is-black > .list {
    color: black;
  }
}

.p-header .p-gnav .is-white li {
  color: white;
}

.p-mainvidual {
  width: 100%;
  height: 100vh;
  position: relative;
}

.p-mainvidual__contents {
  position: absolute;
  top: 40%;
  left: 50%;
}

.p-mainvidual__contents p {
  font-size: 16px;
  font-weight: bold;
}

.p-mainvidual__contents p:first-child {
  font-size: 32px;
  margin-bottom: 100px;
}

.p-mainvidual__contents p:not(:first-of-type) {
  margin-bottom: 50px;
}

@media screen and (min-width: 520px) {
  .p-mainvidual__contents p:not(:first-of-type) {
    font-size: 24px;
    margin-left: 50px;
  }
}

.js-typ {
  opacity: 0;
}

.js-typ span {
  opacity: 0;
}

.p-about {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  height: auto;
}

@media screen and (min-width: 520px) {
  .p-about {
    height: 100vh;
  }
}

.p-about h2 {
  padding: 100px 20px 0;
}

@media screen and (min-width: 520px) {
  .p-about h2 {
    padding: 100px 60px 0;
  }
}

.p-about article {
  position: relative;
}

.p-about article img {
  position: absolute;
  max-height: 200px;
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 520px) {
  .p-about article img {
    max-height: 370px;
    width: 50%;
  }
}

@media screen and (min-width: 1025px) {
  .p-about article img {
    max-height: 500px;
  }
}

.p-about article img:nth-child(1) {
  top: 40px;
  left: 5%;
}

@media screen and (min-width: 520px) {
  .p-about article img:nth-child(1) {
    top: -160px;
    left: 20%;
  }
}

@media screen and (min-width: 1025px) {
  .p-about article img:nth-child(1) {
    left: 16%;
  }
}

.p-about article img:nth-child(2) {
  top: -40px;
  right: 3%;
}

@media screen and (min-width: 520px) {
  .p-about article img:nth-child(2) {
    top: 50px;
    right: 0;
  }
}

@media screen and (min-width: 1025px) {
  .p-about article img:nth-child(2) {
    right: 2%;
  }
}

.p-skills {
  background: white;
  position: relative;
}

@media screen and (min-width: 520px) {
  .p-skills {
    padding-top: 80px;
    height: 100vh;
  }
}

.p-skills__catch {
  margin: 0 40px;
}

.p-skills__catch ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 520px) {
  .p-skills__catch ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 520px) {
  .p-skills__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-catch {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.p-catch h3 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  z-index: 1;
}

@media screen and (min-width: 520px) {
  .p-catch h3 {
    left: -10px;
    font-size: 14px;
    top: 50%;
  }
}

.p-catch p {
  margin: 20px 0 50px;
  font-size: 14px;
}

@media screen and (min-width: 520px) {
  .p-catch p {
    font-size: 14px;
    padding: 0 10px;
    max-width: 300px;
  }
}

.p-chart {
  width: 100%;
  padding: 0 20px;
  padding-bottom: 60px;
}

@media screen and (min-width: 520px) {
  .p-chart {
    width: 65%;
  }
}

.p-works {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  text-align: center;
}

@media screen and (min-width: 520px) {
  .p-works {
    padding: 40px 40px;
  }
}

@media screen and (min-width: 520px) {
  .p-works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-works a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 520px) {
  .p-works a {
    width: 48%;
    margin-bottom: 50px;
  }
}

.p-works a img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
  height: 400px;
}

@media screen and (min-width: 520px) {
  .p-works a img {
    height: auto;
    margin-bottom: 0px;
  }
}

.p-works__imgframe {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/frame-sp.png);
  margin-bottom: 20px;
}

@media screen and (min-width: 520px) {
  .p-works__imgframe {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(/img/frame-pc.png);
  }
}

.p-works__imgframe:hover {
  opacity: .3;
  -webkit-transition: .5s;
  transition: .5s;
}

.p-works__imgframe:hover + .p-works__hide {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.p-works__img--sp {
  padding: 18% 8% 8% 8%;
}

@media screen and (min-width: 520px) {
  .p-works__img--sp {
    display: none;
  }
}

.p-works__img--tab {
  display: none;
}

@media screen and (min-width: 520px) {
  .p-works__img--tab {
    display: block;
    padding: 12% 5% 4% 5%;
  }
}

.p-works__hide {
  color: white;
  font-size: 32px;
  white-space: nowrap;
  position: absolute;
  top: 40%;
  left: 100%;
  -webkit-transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
  pointer-events: none;
}

.p-works h4 {
  padding-bottom: 50px;
}

/*リンクの形状*/
#page-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #06A1A6;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#page-top a:hover {
  background: #777;
}

@media screen and (max-width: 768px) {
  #page-top a:hover {
    background: #06A1A6;
  }
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

/*　上に上がる動き　*/
#page-top.UpMove {
  -webkit-animation: UpAnime 0.5s forwards;
          animation: UpAnime 0.5s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove {
  -webkit-animation: DownAnime 0.5s forwards;
          animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

#footer {
  position: relative;
  z-index: 2;
}

.p-contact {
  padding: 80px 0 160px;
  text-align: center;
}

.p-contact__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.p-contact__input p {
  width: 100%;
  max-width: 500px;
  padding-left: 20px;
  margin: 20px 20px;
  background: white;
  line-height: 3;
  border: rgba(165, 165, 165, 0.5) 1px solid;
}

.p-contact__input p input {
  width: 100%;
}

.p-contact__input__message {
  height: 200px;
}

.p-contact__input p:last-child {
  color: white;
  background: #a5a5a5;
}

.p-contact__input p:last-child:hover {
  background-color: #06A1A6;
  opacity: .7;
  -webkit-transition: .8s;
  transition: .8s;
}

.p-hamburger {
  width: 40px;
  height: 40px;
  position: relative;
  border: black 1px solid;
  border-radius: 5px;
}

.p-hamburger.is-white {
  border-color: white;
}

@media screen and (min-width: 520px) {
  .p-hamburger {
    display: none;
  }
}

.p-hamburger::before, .p-hamburger::after {
  content: "";
  width: 20px;
  height: 2px;
  background: black;
  position: absolute;
  left: calc( 50% - ( 20px / 2 ));
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.p-hamburger.is-white::before, .p-hamburger.is-white::after {
  background: white;
}

.p-hamburger::before {
  top: 10px;
}

.p-hamburger::after {
  top: 28px;
}

.p-hamburger > span {
  width: 20px;
  height: 2px;
  font-size: 0;
  background: black;
  position: absolute;
  left: calc( 50% - ( 20px / 2 ));
  top: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.p-hamburger.is-white > span {
  background-color: white;
}

.p-hamburger.is-open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 18px;
}

.p-hamburger.is-open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 18px;
}

.p-hamburger.is-open > span {
  background: none;
}

html,
main {
  position: relative;
  height: 100%;
}

main {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 80px 0 0;
}

main .swiper-container {
  height: calc(96vh - 80px);
  z-index: inherit;
}

main .swiper-container .swiper-wrapper {
  z-index: inherit;
}

main .swiper-container .swiper-pagenation {
  z-index: inherit;
}

main .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  margin: 0 5vw;
  padding-top: 30px;
  background: white;
  -webkit-box-shadow: 2px 2px 9px 7px rgba(10, 10, 10, 0.3);
          box-shadow: 2px 2px 9px 7px rgba(10, 10, 10, 0.3);
}

@media screen and (min-width: 520px) {
  main .swiper-container .swiper-slide {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .swiper-container .swiper-slide img {
  width: 100%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 520px) {
  main .swiper-container .swiper-slide img {
    width: 60%;
    height: 100%;
  }
}

@media screen and (min-width: 1025px) {
  main .swiper-container .swiper-slide img {
    -o-object-position: top;
       object-position: top;
  }
}

main .swiper-container .swiper-slide .swiper-img--sp {
  padding-left: 4%;
}

@media screen and (min-width: 520px) {
  main .swiper-container .swiper-slide .swiper-img--sp {
    display: none;
  }
}

main .swiper-container .swiper-slide .swiper-img--pc {
  display: none;
}

@media screen and (min-width: 520px) {
  main .swiper-container .swiper-slide .swiper-img--pc {
    display: block;
  }
}

.swiper-slide article {
  border: black 1px solid;
  padding: 0 20px;
  margin-bottom: 40px;
  position: relative;
  width: 90%;
  height: 30%;
}

@media screen and (min-width: 520px) {
  .swiper-slide article {
    width: 30%;
    height: 80%;
  }
}

@media screen and (min-width: 1025px) {
  .swiper-slide article {
    height: 90%;
  }
}

.swiper-slide article h2 {
  font-size: 20px;
  padding: 0 20px;
  position: absolute;
  top: -10px;
  background-color: white;
}

@media screen and (min-width: 520px) {
  .swiper-slide article h2 {
    padding: 20px 0 0;
    position: inherit;
    background-color: transparent;
  }
}

.swiper-slide article ul {
  font-size: 14px;
  padding: 20px 0;
  text-align: start;
}

.swiper-slide article ul li {
  margin-bottom: 10px;
}

@media screen and (min-width: 520px) {
  .swiper-slide article ul li {
    margin-bottom: 20px;
  }
}

.swiper-slide article ul li p {
  overflow-wrap: break-word;
  padding: 5px 0 0 10px;
}

@media screen and (min-width: 520px) {
  .swiper-slide article ul li p {
    padding: 10px 0 0 10px;
  }
}

.swiper-slide article ul .swiper-slide__pctext {
  display: none;
}

@media screen and (min-width: 1025px) {
  .swiper-slide article ul .swiper-slide__pctext {
    display: block;
  }
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: white;
  opacity: 1;
  background: rgba(88, 88, 88, 0.8);
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.u-margin-lr {
  margin: 0 20px;
}

@media screen and (min-width: 520px) {
  .u-margin-lr {
    margin: 0 40px;
  }
}
/*# sourceMappingURL=style.css.map */