
.p-hamburger {
	width           : 40px;
	height          : 40px;
	position        : relative;
    border: black 1px solid;
    border-radius: 5px;
	&.is-white{
		border-color: white;
	}

	@include responsive(tab) {
		display: none;
	}
	&::before,
	&::after {
		content   : "";
		width     : 20px;
		height    : 2px;
        background: black;
		position  : absolute;
		left      : calc( 50% - ( 20px / 2 ) );
		display   : block;
		transition: transform 0.2s;
	}
	&.is-white::before,
	&.is-white::after {
		background: white;
	}
	&::before {
		top: 10px;
	}
	&::after {
		top: 28px;
	}
	> span {
		width          : 20px;
		height         : 2px;
		font-size      : 0;
        background: black;
		position       : absolute;
		left           : calc( 50% - ( 20px / 2 ) );
		top            : 50%;
		transition     : transform 0.2s;
	}
	&.is-white > span {
		background-color: white;
	}
	&.is-open {
		&::before {
			transform: rotate( 45deg );
			top      : 18px;
		}
		&::after {
			transform: rotate( -45deg );
			top      : 18px;
		}
		> span {
			background: none;
		}
	}
}
