.p-header {
    padding-top: 20px;
    height: 80px;
    width: 100%;

    align-items: center;
    position: fixed;
    z-index: 1;
    @include responsive(tab) {
        height: 100px;

    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 40px);
    }
}