.p-mainvidual {
    width: 100%;
    // height: calc(100vh - 20px);
    height: 100vh;

    position: relative;
    @include responsive(tab) {
        // height: calc(100vh - 40px);
    }
    &__contents {
        position: absolute;
        top: 40%;
        left: 50%;
        @include responsive(tab) {
            // top: calc(50% - 100px);
        }

        p {
            font-size: 16px;
            font-weight: bold;
            &:first-child {
                font-size: 32px;
                margin-bottom: 100px;
            }
            &:not(:first-of-type) {
                margin-bottom: 50px;
                @include responsive(tab) {
                    font-size: 24px;
                    margin-left: 50px;

                }
            }
        }
    }
}

.js-typ {opacity: 0;}
.js-typ span{opacity: 0;}