.p-works {
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    text-align: center;
    @include responsive(tab) {
        padding:40px 40px;
    }

    &__list {
        @include responsive(tab) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }
    }
    a {
        @include responsive(tab) {
            width: 48%;
            margin-bottom: 50px;
        }
        img {
            object-fit: contain;
            margin-bottom: 20px;
            height: 400px;
            @include responsive(tab){
                height: auto;
                margin-bottom: 0px;

            }
        }
    }
    &__img--sp {
        width: auto;
        @include responsive(tab) {
            display: none;
        }
    }
    &__imgframe {
        width: 100%;
        background-size: contain;
        background-image: url(/img/frame-pc.png);
        background-repeat: no-repeat;
        display: flex;
        margin-bottom: 20px;
    }
    &__img--tab {
        display: none;
        @include responsive(tab) {
            display: block;
            padding: 12% 5% 4% 5%;
            
        }
    }
    h4 {
        padding-bottom: 50px;
    }

}
